:root {
  --blue: #14181f;
  --blue-dark: #0a0c10;
  --blue-light: #272a31;

  --red: #ea1d22;
  --red-dark: #b31317;
  --red-light: #f02a2f;

  --white: #edf1f7;
  --white-dark: #e5e9ef;
  --white-light: #f4f7fb;

  --gray-1: #b5b6b8;
  --gray-2: #a1a3a5;
  --gray-3: #959698;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #1a1a1a;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

.border {
  border: 1px solid red;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 140%;

  color: var(--gray-3);
}
