header {
  width: 100%;
  padding-top: 1rem;

  & .navbar {
    max-width: 90rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav-menu {
      display: flex;
      align-items: center;

      & .nav-list {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        & .nav-link {
          display: inline-block;
          color: var(--gray-3);

          font-size: 0.875rem;
          letter-spacing: 2px;
          font-weight: 200;
          text-transform: uppercase;

          padding: 0.5rem 1rem;
          transition: 0.7s ease;

          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: -2.5rem;
            left: 50%;

            width: 2px;
            height: 0px;
            transition: 0.7s ease;

            background: linear-gradient(
              180deg,
              rgba(233, 29, 34, 0) 0%,
              #e91d22 100%
            );
          }

          &:hover {
            color: var(--white);

            &::after {
              height: 40px;
            }
          }
        }
      }
    }

    & .nav-social {
      display: flex;
      height: 40px;
      align-items: center;
      gap: 2rem;

      & svg {
        cursor: pointer;

        & path,
        & circle {
          transition: 0.7s ease;
        }

        &:hover {
          & path,
          circle {
            fill: var(--red-light);
            transform: translate3d(0, -1px, 0);
          }
        }
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;

  max-width: 90rem;
  margin: 0 auto;
  padding: 2.25rem 1rem;

  overflow: hidden;

  & .container-item-1 {
    max-width: 36rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .btn {
      display: inline-block;

      padding: 0.75rem 2rem;
      border-radius: 4px;

      transform: skewX(-10deg);
      transition: 0.7s ease;

      text-transform: uppercase;
      background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);

      position: relative;

      &::after {
        content: "";
        display: block;

        position: absolute;
        top: -2px;
        left: -2px;

        width: 30%;
        height: 70%;
        opacity: 0;

        transition: 0.7s ease;

        border-radius: 4px;
        border-top: 4px solid #fff;
        border-left: 4px solid #fff;
      }

      &::before {
        content: "";
        display: block;

        position: absolute;
        bottom: -2px;
        right: -2px;

        width: 30%;
        height: 70%;
        opacity: 0;

        transition: 0.7s ease;

        border-radius: 4px;
        border-bottom: 4px solid #fff;
        border-right: 4px solid #fff;
      }

      &:hover {
        transform: skewX(-10deg) scale(1.05);
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    & .btn-secondary {
      display: inline-block;

      padding: 0.625rem 2rem;
      border-radius: 4px;

      transform: skewX(-10deg);
      transition: 0.7s ease;

      text-transform: uppercase;
      background: transparent;

      position: relative;

      border: 2px solid var(--red);

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 0%;
        height: 100%;
        transition: 0.7s ease;

        background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  & .container-item-2 {
    & .spiderman {
      width: 150%;
      transform: translate3d(-170px, 0, 0);
    }
  }
}
