header {
  width: 100%;
  padding-top: 1rem;

  & .navbar {
    max-width: 90rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav-menu {
      display: flex;
      align-items: center;

      & .nav-list {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        & .nav-link {
          display: inline-block;
          color: var(--gray-3);

          font-size: 0.875rem;
          letter-spacing: 2px;
          font-weight: 200;
          text-transform: uppercase;

          padding: 0.5rem 1rem;
          transition: 0.7s ease;

          position: relative;

          &.red {
            color: var(--red);
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: -2.5rem;
            left: 50%;

            width: 2px;
            height: 0px;
            transition: 0.7s ease;

            background: linear-gradient(
              180deg,
              rgba(233, 29, 34, 0) 0%,
              #e91d22 100%
            );
          }

          &:hover {
            color: var(--white);

            &::after {
              height: 40px;
            }
          }
        }
      }
    }

    & .nav-social {
      display: flex;
      height: 40px;
      align-items: center;
      gap: 2rem;

      & svg {
        cursor: pointer;

        & path,
        & circle {
          transition: 0.7s ease;
        }

        &:hover {
          & path,
          circle {
            fill: var(--red-light);
            transform: translate3d(0, -1px, 0);
          }
        }
      }
    }

    .bx {
      display: none;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background: linear-gradient(
      101.47deg,
      #0a0c10 26.38%,
      rgba(10, 12, 16, 0.8) 50.07%,
      #0a0c10 73.17%
    );
  }
}

.container {
  display: flex;
  align-items: center;

  max-width: 90rem;
  margin: 0 auto;
  padding: 2.25rem 1rem;

  height: 85vh;

  overflow: none;

  & .container-item-1 {
    max-width: 36rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .item-1-img {
      padding-inline: 0.5rem;
    }

    & p {
      margin-block: 1rem;
    }

    & .btn {
      display: inline-block;

      padding: 0.75rem 2rem;
      border-radius: 4px;

      transform: skewX(-10deg);
      transition: 0.7s ease;

      text-transform: uppercase;
      background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);

      position: relative;

      &::after {
        content: "";
        display: block;

        position: absolute;
        top: -2px;
        left: -2px;

        width: 30%;
        height: 70%;
        opacity: 0;

        transition: 0.7s ease;

        border-radius: 4px;
        border-top: 4px solid #fff;
        border-left: 4px solid #fff;
      }

      &::before {
        content: "";
        display: block;

        position: absolute;
        bottom: -2px;
        right: -2px;

        width: 30%;
        height: 70%;
        opacity: 0;

        transition: 0.7s ease;

        border-radius: 4px;
        border-bottom: 4px solid #fff;
        border-right: 4px solid #fff;
      }

      &:hover {
        transform: skewX(-10deg) scale(1.05);
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    & .btn-secondary {
      display: inline-block;

      padding: 0.625rem 2rem;
      margin-left: 1rem;
      border-radius: 4px;

      transform: skewX(-10deg);
      transition: 0.7s ease;

      text-transform: uppercase;
      background: transparent;

      position: relative;

      border: 2px solid var(--red);

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 0%;
        height: 100%;
        transition: 0.7s ease;

        background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    & .item-1-links-img {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 3rem;
    }
  }

  & .container-item-2 {
    & .spiderman {
      width: 150%;
      transform: translate3d(-200px, 0, 0);
    }
  }
}

@media (max-width: 960px) {
  header {
    & .navbar {
      & .nav-menu {
        & .nav-list {
          display: none;
        }
      }

      & .nav-social {
        display: none;
      }

      & .bx {
        display: block;
        margin-right: 1rem;
      }
    }
  }

  & .container {
    flex-direction: column;
    height: auto;
    overflow: hidden;

    & .container-item-1 {
      & .item-1-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        & .btn-secondary {
          margin-left: 0;
        }
      }

      & .item-1-links-img {
        margin: 2rem auto;
      }
    }

    & .container-item-2 {
      & .spiderman {
        width: 100%;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(225deg, var(--red) 0%, var(--red-dark) 100%);
}

.logo-spiderman {
  fill: transparent;

  animation: logo-spiderman 12s ease infinite alternate;
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0.3;
    fill: var(--white-dark);
  }
}
